<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BannerMapper">

    <insert id="insertBanner" parameterType="com.pojo.Banner">
insert into banners
(banner_cover,create_by,url,status,create_at,update_at,pic)
values
(#{banner_cover},#{create_by},#{url},#{status},#{create_at},#{update_at},#{pic})
</insert>

    <update id="updateBanner" parameterType="com.pojo.Banner">
update banners
set url=#{url},
update_at=#{update_at},pic=#{pic}
where id=#{id}
</update>

    <delete id="deleteBanner">
delete from banners
where id=#{id}
</delete>

    <resultMap id="BannerResultMap" type="com.pojo.Banner">
        <id property="id" column="id" javaType="Long"/>
        <result property="banner_cover" column="banner_cover" javaType="String"/>
        <result property="create_by" column="create_by" javaType="String"/>
        <result property="url" column="url" javaType="String"/>
        <result property="status" column="status" javaType="String"/>
        <result property="create_at" column="create_at" javaType="Long"/>
        <result property="update_at" column="update_at" javaType="Long"/>
        <result property="pic" column="pic" javaType="String"/>
    </resultMap>

    <select id="findByName" parameterType="String" resultMap="BannerResultMap">
select * from banners
where create_by=#{create_by}
</select>

<select id="findAllBanner" resultMap="BannerResultMap">
select * from banners
</select>

    <select id="findById" resultType="com.pojo.Banner" parameterType="Long">
        select * from banners where id = #{id}
    </select>

    <select id="findByStauts" resultMap="BannerResultMap" parameterType="String">
        select * from banners where status = #{status}
    </select>
    <select id="getId" resultType="java.lang.Integer" parameterType="String">
        select id from banners where url = #{url}
    </select>

    <update id="upBanner">
update banners
set status="上架"
where id=#{id}
</update>

    <update id="downBanner">
update banners
set status="下架"
where id=#{id}
</update>
</mapper>